bc
bfs
cc
cc_sv
converter
pr
pr_spmv
sssp
tc
bc-ring
bfs-ring
cc-ring
cc_sv-ring
pr-ring
pr_spmv-ring
sssp-ring
tc-ring

test/out/*.out

benchmark/out/*.out
benchmark/graphs/*.sg
benchmark/graphs/*.wsg
benchmark/graphs/raw/*
